<div class="row">
    <div class="col-md-6 col-md-offset-3">
        <h1>Create a new algorithm</h1>
        <p class="help-block"><span style="color:red">*</span> denotes a required field</p>
        <br/>
        <%= form_for @algorithm, :multipart => true do |f| %>
            <%= render 'shared/error_messages', object: @algorithm %>
            <div class="form-group">
                <%= f.label :name, class: "col-sm-3 control-label required" %>
                <div class="col-sm-9">
                    <%= f.text_field :name, class: 'form-control' %>
                </div>
            </div>
            <div class="form-group">
                <%= f.label :description, class: "col-sm-3 control-label required" %>
                <div class="col-sm-9">
                    <%= f.text_area :description, class: 'form-control' %>
                </div>
            </div>
            <div class="form-group">
                <%= f.label :programming_language, class: "col-sm-3 control-label required" %>
                <div class="col-sm-9">
                    <%= f.text_field :programming_language, class: 'form-control' %>
                </div>
            </div>            
            <div class="form-group">
                <%= f.label :source_code_url, class: "col-sm-3 control-label required" %>
                <div class="col-sm-9">
                    <%= f.text_field :source_code_url, class: 'form-control' %>
                </div>
            </div>
            <%= f.submit "Create", class: "btn btn-primary" %>
        <% end %>
    </div>
</div>
