<style type="text/css"><%= Pygments.css %></style>
<div class="row">
    <div class="col-md-4">
        <h2><%= @algorithm.name %></h2>
        <hr/>
        <br/>
        <h4>Description:</h4>
        <p><%= @algorithm.description %></p>
        <h4>Owner:</h4>
        <p><%= link_to @algorithm.user.name, user_path(@algorithm.user) %></p>
    </div>
    <div class="col-md-8">
        <%= highlight_code @algorithm %>
    </div>
</div>
